body{
    padding: 0;
    margin: 0;
}/*
input{
    padding: 12px 13px;
    width: 40%;
    border: 1px solid #ccc;
    outline: 0;
} */
/* .fa-search{
    padding: 12px 10px 12px 10px;
    background: #f0a;
    transform: translateX(-40px);
    color: #fff;
} */
.btn{
    padding: 10px 20px 9px;
    background: #f0a;
    color: #fff;
    margin-left: 1rem;
}
.nop{
  display: flex;
}
/* header div a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header div a:not(btn){
    color: #f0a;
}
header div a{
    transform: 2s;
}
header div a:hover{
    color: rgb(88, 88, 247);
} */
.fixed-to-bottom{
    position: fixed;
    background: #EDEDEE;
    width: 100%;
    padding: 8px 10px 12px 12px;
    bottom: 0;
    z-index: 0;
}
.m-l-2{
    margin-right: 0;
    margin-top: 2rem;
}
.m-r-t{
    margin-top: 1rem;
}
.t{
    color: #f0a;
}
/* div .frame  a{
  color: #fff;
} */
div .frame  a:hover{
  color: blue;
}
.frame{
    display : flex ; 
    /* flex-wrap: wrap; */
}
.d-sm-hide{
    display: block;
}
.d-md-hide{
    display: block;
}
.d-md-hide{
    display: none;
}
.p{
  font: 16px  Europa, "Hevetica Neue", Arial, san-serif;
  color: #504d4d; 
}
section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section p a{
    text-decoration: none;
    color: #f0a;
}
.justify-content{
    justify-content: space-between;
}
.container{
  width: 100%;
  padding-right: 0px;
  padding-left: 16px;
}
div .fr-3 p{
  padding-right: -5px;
}
.jus{
  justify-content: space-between;
}
.framer{
  margin: 1rem 1rem;

}
.bn{
  background: #f0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-family: "Segoe UI" , Helvetica , "Helvetica neue" , sans-serif;
  font-size: 13px;
  transition: color 1s;
  text-decoration: none;
}
.bg-6{
  margin-left: 4rem;
  margin-bottom: 6rem;
} 

.b-1{
  width: 95%;
  /* background-color: #504d4d; */
  transform: translateX(-15px);
  transition: 2s;
}
.b-1:hover{
  background: #ccc;
  scale: 0;
}
.b-2{
  /* background: #504d4d; */
  width: 25%;
  transition: 2s ;
  
}
.b-2:hover{
  background: #ccc;
}
.b-3{
  /* background: #504d4d; */
  width: 25%;
  transform: translateX(15px);
  transition: 2s;
}
.b-3:hover{
  background: #ccc;
}
.b-4{
  /* background: #504d4d; */
  width: 25%;
  height: 80%;
  transform: translateX(25px);
  transition: 2s;
}
.b-4:hover{
  background: #ccc;
}
.b-{
  margin-left: 12px;
}
/* .nav-bar{
    padding: 20px 40px;
}
.nav-bar .nav-menu{
    display: flex;
}
.nav-items2{
    padding-right: 70px;
}
.nav-bar .nav-menu div{
    display: flex;
    margin: 0;
}
.nav-bar .nav-menu .nav-items li{
    display: inline-block;
    padding-left: 10px;
    color: #f0a;
    text-decoration: none;
} */
.wrap { 
    display : flex ; 
    flex-wrap: wrap;
}

/* Responsive Layout */
.wrap-1 , .wrap-2 , .wrap-3 , .wrap-4 , .wrap-5 , 
.wrap-6 , .wrap-7 , .wrap-8 , .wrap-9 , .wrap-10 , 
.wrap-11 , .wrap-12 {
  position : relative ; 
  width : 100%;
  /* min-height: 1px;
  padding-right: 15px;
  padding-left : 15px; */
}
.wrap-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.wrap-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.wrap-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.wrap-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.wrap-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.wrap-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.wrap-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.wrap-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.wrap-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.wrap-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.wrap-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.wrap-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.justify-content-between {
    justify-content: space-between;
}
.w-10{
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
}
.navigation{
  padding-top: 10px;
  margin-left: -6rem;
}
.list-transform li{
    display: inline-block;
    margin-left: 9px;
    padding-right: 5px;
}
.list-transform {
  margin-left: 0;
}
.british{
  width: 100%;
  margin-top: 1rem;
}
a{
  text-decoration: none;
  color: #f0a;
  transition: 2s;
}
a:hover{
  color: blue;
}
.box{
  margin-top: 2rem; 
}
.monash{
  width: 120%;
  margin-left: 12rem;
  margin-top: 1rem;
}
.kings{
  width: 90%;
  margin-left:  2rem
}
.mich{
  width: 70%;
  margin-left: 14rem;
}
.john{
  width: 140%;
  margin-top: 1rem;
  margin-left:  7rem
}
.instite{
  width: 120%;
  margin-top: 1rem;
  margin-left:  4rem
}
.institu{
  width: 90%;
  margin-left:  11rem;
}
.accer{
  width: 100%;
  margin-top: 1rem;
  margin-left: 11rem;
}
.up{
  padding-top: 1rem;
}
.old-lady{
  width: 70%; 
  margin-top: 2rem;
  margin-left: 1rem;
}
.bacground{
  background: #f6f6f6;
  padding-bottom: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  margin-top: 3rem;
  
}
.bg-5{
  margin-bottom: 5rem;
}
.bg-2{
  margin-left: 9rem;
  margin-top: 3rem;
}
.bg-4{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-search{
  color: #fff;
  background: #f0a;
  padding: 11px 4px;
  transform: translateX(-5px);
}
.fa-search:hover{
  background: blue;
}
.shift{
  transform: translateY(-4rem);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.shift-1{
  transform: translateY(-4rem);
  color: #fff;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.shift-2{
  transform: translateY(-4rem);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-3{
  margin-left: 2rem;
}
.m-l{
  margin-left: 4rem;
}
.m-t-1{
  margin-top: 1rem;
}
.m-t-5{
  margin-top: 2rem;
}
.space-evenly{
  justify-content: space-evenly;
}
.center-2{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2rem;
}
.center-3{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.center-1{
  text-align: center;
 
}
.img{
  color: rgb(94, 224, 94);
}
.center-4{
  text-align: center;
  margin-right: 5rem;
}
.center{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 4rem;
}
.btn-1{
  padding: 10px 10px;
  background: transparent;
  border: 1px solid #f0a;
  outline: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f0a;
  margin-left: 3rem;
  text-decoration: none;
  font-weight: 500;
}
.btn-3{
  padding: 10px 12px;
  background: #f0a;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-left: 1rem;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: 0;
  font-weight: 500;
  text-decoration: none;
}
.btn-3:hover{
  background: blue;
  color: #fff;
  border: 1px solid blue;
}
.btn-4{
  padding: 10px 10px;
  background: transparent;
  border: 1px solid #f0a;
  outline: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f0a;
  text-decoration: none;
  font-weight: 500;
}
.btn-4:hover{
  background: blue;
  color: #fff;
  border: 1px solid blue;
}
.future{
  transform: 2s;
}
.future:hover{
  /* height: 150px; */
}
.go-up{
  transform: translateY(-13rem);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2rem;
}
.go-up-2{
  transform: translateY(-13rem);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2rem;

}
.btn-1:hover{
  background: transparent;
  border: 1px solid blue;
  color: blue;
}
.text-align{
  text-align: center;
  margin-top: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-2{
  padding: 10px 12px;
  background: #f0a;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-left: 1rem;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: 0;
  font-weight: 500;
  text-decoration: none;
}
.btn-2:hover{
  background: blue;
  color: #fff;

}
.ni{}
.bg-1{
  margin-left: 3rem;
  margin-top: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(25, 25, 25, 0.842);
}
.list-transform > li a{
  text-decoration: none;
  color: #f0a;
  font-family: "Segoe UI" , Helvetica , "Helvetica neue" , sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
.list-transform > li a:hover{
  color: rgb(9, 48, 177);
}
.wrapper{
  margin: 0 60px;
}
header{
  margin: 0;
  padding: 0;
}
input[type="search"]{
  height: 40px;
  /* width: 55%; */
  padding: 8px;
  border: 1px solid #aaa;
  outline: none;
  box-sizing: border-box;
}   
.inputwithicon{
  position: relative;
  margin-left: -8rem;
}
.input{
  
}
.inputwithicon i{
  color: #aaa;
  transition: .3s;
  transform: translateX(-40px);
}
.inputwithicon .searchLink:hover i{
  background: rgb(42, 21, 224);
}
.inputwithicon i{
  color: #fff;
  background: #f0a;
  padding: 11px 4px;
}
/* a{
  color: #f0a;
}
a:hover{
  color: rgb(42, 21, 224);
} */
.p-l-4 a:hover{
  color: #fff;
}
.p-r-1{
  padding-right: 1rem;
}
.p-r-5{
  padding-right: 5rem;
}
.link-transform{
  text-decoration: none;
  font-weight: 600;
  color: #f0a;
  padding-right: 30px;
  font-family: "Segoe UI" , Helvetica , "Helvetica neue" , sans-serif;
}
.p-l-4{
  background: #f0a;
  color: #fff;
  border: none;
  outline: 0;
  padding: 10px 20px;
  margin: 0 10px;
  font-family: "Segoe UI" , Helvetica , "Helvetica neue" , sans-serif;
  font-size: 13px;
  transition: color 1s;
  text-decoration: none;
}
.p-l-4:hover{
  background: rgb(42, 21, 224);
  color: #fff;
}

.w-10{
    width: 90%;
    padding-left: 20px;
}
 nav.wrap{
    display: flex;
    flex-wrap: wrap;
}
.fr-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.fr-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.fr-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.fr-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.fr-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.fr-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.fr-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.fr-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.fr-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.fr-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
  
  .fr-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
  
  .fr-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.fr-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.fr-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.fr-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.fr-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.fr-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.fr-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.fr-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.fr-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.fr-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.fr-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.fr-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.fr-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
@media (max-width: 568px){
    body{
      width: 100%;
    }
    .d-sm-hide{
      display: none;
    }
    .d-md-hide{
      display: inline-flex;
    }
    .bg-1{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 1rem;
      margin-left: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    .btn-1{
      padding: 10px 8rem;
    }
    .btn-2{
      padding: 10px 9rem;
      margin-right: 1rem;
    }
    .fa-bars{
      padding-right: 15px;
      padding-top: 10px
    }
    .w-10{
      width: 200%;
      height: 90%;
    }
    .fr-md-10 {
      -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}